@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --site-green: #6C856D;
}
body { background-color: #373737; color: white;}


.az-nav-link {
    float: right;
    font-size: 22px;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 15px;
    color: black;
}

.navbar-right li:hover {
    background-color: none;
}

.az-nav-cta {
    color: #FFDD00;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}

.az-nav-cta--button {
    background-color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
}
.az-nav-cta--button:hover {
    background-color: #ebcb01;
}

/*https://stackoverflow.com/questions/25878450/bootstrap-collapsed-navbar-buggy-open*/
.navbar-collapse.collapse.in {
    display: block!important;
}

.az-hero {
    background-image: url(./restaurant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;

    color: white;
}

.az-hero-lead {
    padding: 10% 0;
    font-weight: 500;
    font-style: italic;
    font-size: 28px;
}

.az-historical {
    width: 30%;
    font-size: 24px;
}

.az-cuisine-type--first {
    margin-left: 1%;
}
.az-cuisine-type--mid {
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 2;
}
.az-cuisine-type:not(.az-cuisine-type--first) {
    margin-left: .4%;
}
.az-cuisine-type {
    height: 180px;
    background-color: var(--site-green);
}

.az-cuisine-type > img {
    width: 50%;
}

.az-center-text {
    font-size: 22px;
    padding: 0 22%;
}

.az-reviews {
    background-image: url(./baloon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.az-contacts {
    background-image: url(./map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:initial;
    height: 80vh;
}

#comments {
    height: calc(1.5rem + 160px);
}

#promoVideo {
    min-width: 100%;
}